.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    margin: -1px;
    clip: rect(0,0,0,0);
}

#skipNav {
    position: absolute;
    top: 0;
    left: 0;
}
#skipNav .skip-item a { 
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    white-space: nowrap;
    background: #fff;
    color: #000;
    width: auto;
    height: auto;
    padding: 10px 20px;
    transform: translateY(-100%);
    transition: all .2s ease-in-out;
    z-index: 1000;
    
}
#skipNav a:focus,
#skipNav a:active { 
    transform: translateY(0);
    outline: .1rem dashed #fff;

#wrapper {
    position: relative;
}
}
.btn-shortcut {
    text-align: center;
    font-family: $font-Apax;
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-weight: 500;
    letter-spacing: .1rem;
    text-transform: uppercase;
    background: #000;
    border: .1rem solid grey;
    color: #fff;
    padding: 1.6rem 3rem;
    &:hover {
        color: #000;
        background: #fff;
    }
}

.sm-tt {
    margin-bottom: 2rem;
    font-size: 1.25rem;
    line-height: 1.4rem;
    font-weight: 600;
    letter-spacing: .15rem;
    text-transform: uppercase;
}
.huge-tt{
    font-size: 4.8rem;
    line-height: 4.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    text-transform: uppercase;
}
.link-more {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: .1rem;
    text-transform: uppercase;
    svg {
        display: flex;
        align-items: center;
        justify-content: center;
        height: .9rem;
        width: auto;
    }
}

.frame1fw {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 77vw;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20rem;
    padding-bottom: 20rem;
}
.frame1text {
    display: flex;
    flex-direction: column;
    gap: 7.5rem;
}
.frame1title {
    display: flex;
    flex-direction: column;
}
.frame1ul{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.frame1li{
    display: flex;
    gap: 1.4rem;
}
.frame1li-th {
    position: relative;
    width: 57px;
    height: 57px;
    border-radius: 50%;
}
.frame1li-img{
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.frame1li-tx{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.frame1-li-desc{
    color: #404040;
    font-size: 1.55rem;
    font-weight: 400;
    line-height: 2.4rem;
}
.frame1-li-desc-st {
    display: block;
    color: #000;
}
.clip {
    width: 100%;
}