@font-face {
    font-family: 'Apax';
    src: url(../font/Apax-TAG-Heuer-Bold.otf) format('opentype');
    font-weight: 700;
}
@font-face {
    font-family: 'Apax';
    src: url(../font/Apax-TAG-Heuer-Medium.otf) format('opentype');
    font-weight: 600;
}
@font-face {
    font-family: 'Apax';
    src: url(../font/Apax-TAG-Heuer-Regular.otf) format('opentype');
    font-weight: 500;
}
@font-face {
    font-family: 'Apax';
    src: url(../font/Apax-TAG-Heuer-Light.otf) format('opentype');
    font-weight: 400;
}
@font-face {
    font-family: 'ApaxItalic';
    src: url(../font//Apax-TAG-Heuer-Italic.otf) format('opentype');
}
@font-face {
    font-family: 'fonticon';
    src: url(../font/fonticon.woff2) format("woff2");
}